/Naloga4/Naloga4/dist/
/Dodatna_seminarska_naloga/DodatnaSeminarskaNaloga/build/
/Dodatna_seminarska_naloga/DodatnaSeminarskaNaloga/dist/
/Dodatna_seminarska_naloga/DodatnaSeminarskaNaloga/nbproject/private/
*.png
